Source: openwebrtc-gst-plugins
Section: utils
Priority: optional
Maintainer: Kurento Maintenance Team <kurento@googlegroups.com>
Build-Depends: debhelper (>= 8.0.0),
 autoconf,
 libtool,
 libusrsctp-dev,
 libgstreamer1.5-dev,
 libgstreamer-plugins-base1.5-dev
Standards-Version: 3.9.4

Package: openwebrtc-gst-plugins
Architecture: any
Depends:  ${shlibs:Depends}, ${misc:Depends}
Description: OpenWebRTC specific GStreamer plugins

Package: openwebrtc-gst-plugins-dev
Architecture: any
Depends: openwebrtc-gst-plugins (= ${binary:Version})
Description: OpenWebRTC specific GStreamer plugins

Package: openwebrtc-gst-plugins-dbg
Architecture: any
Depends: openwebrtc-gst-plugins (= ${binary:Version})
Description: OpenWebRTC specific GStreamer plugins
